# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Medical image formats

*.nii

# Backups maked by editor

*.txt~
*.hxx~
*.h~
*.cxx~

